[configuration]

entry_symbol = "gode_editor_library_init"
compatibility_minimum = "4.6.2"

[libraries]

windows.editor.x86_64 = "res://addons/godot-js/binary/editor/windows/x64/libgode_editor.dll"

linux.editor.x86_64 = "res://addons/godot-js/binary/editor/linux/x64/libgode_editor.so"

macos.editor.arm64 = "res://addons/godot-js/binary/editor/macos/arm64/libgode_editor.dylib"

android.editor.arm64 = "res://addons/godot-js/binary/editor/android/arm64/libgode_editor.so"
